Source: ros-indigo-lj-laser
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-lama-common, ros-indigo-lama-interfaces, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-polygon-matcher, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: http://wiki.ros.org/lj_laser
Standards-Version: 3.9.2

Package: ros-indigo-lj-laser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-lama-common, ros-indigo-lama-interfaces, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-polygon-matcher, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: Localizing jockey from LaserScan Implement a localizing jockey from a LaserScan. The associated descriptor are LaserScan[] and Crossing.
