Source: ros-indigo-lj-laser-heading
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-lj-laser, ros-indigo-nav-msgs
Homepage: http://wiki.ros.org/lj_laser_heading
Standards-Version: 3.9.2

Package: ros-indigo-lj-laser-heading
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-lj-laser, ros-indigo-nav-msgs
Description: Localizing jockey from LaserScan and absolute heading. Implements a localizing jockey from a LaserScan and absolute heading. The associated descriptors are sensor_msgs/LaserScan[] and lama_msgs/Crossing.
